.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar {
	width: 100%;
	background-color: black;
	height: 75px;
}
.me {
	color: white;
	float: left;
	padding-top: 25px;
	padding-left: 25px;
}
.linkedin {
	color: white;
	float: right;
	padding-top: 25px;
	padding-right: 50px;
}
.resume {
	color: white;
	float: right;
	padding-top: 25px;
	padding-right: 25px;
}
.body {
	padding: 50px;
}
.img {
	height: 100px;
	width: 100px;
}
.a-img {
	display: inline-block;
}
.twitter-container {
	display: inline-block;
	padding-left: 10px;
}
.twitter-info {
	width: 200px;
}
.proj-link {
	padding-top: 30px;
}
.proj-link2 {
	padding-top: 30px;
}
.proj-link3 {
	padding-top: 30px;
}
.strava-intensity-container {
	display: inline-block;
	padding-left: 10px;
}
.strava-intesity-info {
	width: 200px;
}
.proj-title {
	border-bottom: 2px solid black;
	position: relative;
    left: 10%;
    width: 200px;
}